@import "tailwindcss";

:root {
  --bg-dark: #05060f;
}

body {
  background-color: var(--bg-dark);
  color: white;
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.gradient-text {
  background: linear-gradient(to right, #3b82f6, #818cf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
